table.lrojo{
    border: red 1px solid;


}


table.lrojo2{
    border: red 1px solid;


}

td.bazul{
    border: blue 2px solid;


}



table.bverde{
    border: green 1px solid;
    text-align: center;
  

}

td.tdverde{

    border: green 1px solid;
    width: 125px;
}


